/* 
================================================================================================================================
Navbar
================================================================================================================================
*/
.navbar,
.navbar-respond {
  background-color: var(--light-color);
}

.navbar h1,
.navbar-respond h1 {
  font-family: var(--fancyfont-3);
  color: var(--faded-500);
  position: relative;
  bottom: 3px;
}

.navbar ul,
.navbar-respond ul {
  display: flex;
  flex-wrap: wrap;
}

.navbar ul a,
.navbar-respond ul a {
  color: var(--grey-600);
  font-size: 17px;
  padding: 10px;
}

.navbar ul a:hover {
  border-bottom: 2px solid var(--secondary-400);
  color: var(--grey-600);
}

.navbar .btn,
.navbar-respond .btn {
  background-color: var(--faded-500);
  border: none;
}

.navbar .btn:hover,
.navbar-respond .btn:hover {
  border: none;
  background-color: var(--secondary-500);
  color: var(--light-color);
}

.navbar .border-left {
  border-left: 2px solid var(--secondary-400);
}

.navbar .flex {
  height: 100px;
}

.navbar .flex-2 {
  justify-content: space-between;
}

/* 
================================================================================================================================
Navbar Repond
================================================================================================================================
*/
.navbar-respond {
  display: none;
  padding-top: 20px;
}

.navbar-respond .container-3 {
  overflow: visible;
}

.navbar-respond .flex {
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}

.navbar-respond .dashes {
  display: flex;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
}

.dropdown {
  position: absolute;
  opacity: 100000;

  right: 10px;
}

.dropdown.card {
  border-radius: 5px;
  width: 300px;
  background-color: var(--grey-200);
}

.dropdown li {
  padding: 5px 0;
  margin: 5px;
  border-bottom: 1px solid var(--complement-500);
  box-shadow: var(--shadow-5);
}

.dropdown li a {
  color: var(--grey-800);
  font-family: var(--bodyfont-1);
}

.dropdown li a:hover {
  color: var(--faded-500);
}

.navbar-respond i {
  color: var(--faded-700);
}

.dropdown-links {
  display: flex;
  flex-direction: column;
}

/* .block.flex-block {
  display: flex;
} */

/* .navbar-respond .block {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 10px;
  padding: 10px 0px;
  height: 70px;
  border-top: 1px solid var(--secondary-400);
  border-radius: 10px;
}

.navbar-respond .block li {
  font-size: 18px;
  margin: 0px 10px;
} */

/* 
================================================================================================================================
Showcase
================================================================================================================================
*/
.show-container {
  opacity: 10;
  padding: 10px 0;
}

.showcase {
  background-image: url("../images/code16.jpg");
  margin: 0;
  padding: 20px 0 0 0;
  height: 500px;
  width: auto;
  /* opacity: 1; */
}

.showcase h2 {
  text-indent: -9999999999px;
  margin: 10px;
  padding: 0;
}

/* 
================================================================================================================================
Analytic
================================================================================================================================
*/
.analytic {
  flex-wrap: wrap;
  margin: 2rem 0;
}

.analytic h2 {
  margin: 10px 0;
  font-family: var(--headingfont-6);
}

.analytic p {
  width: 400px;
  margin: 0 auto;
}

.analytic i {
  padding: 40px;
  border-radius: 50%;
  color: var(--light-color);
  background-color: var(--primary-600);
}

/* 
================================================================================================================================
Repond
================================================================================================================================
*/
.respond {
  background-color: var(--grey-100);
}

.respond img {
  width: 450px;
  height: 100%;
}

.respond .grid {
  grid-template-columns: 3fr 5fr;
}

.respond h1 {
  font-family: var(--headingfont-4);
  font-size: var(--font-size-8);
}

/* 
================================================================================================================================
Span
================================================================================================================================
*/
.span {
  background-color: var(--grey-300);
  margin-top: 3rem auto;
}

.width {
  display: grid;
  justify-content: center;
  text-align: center;
}

.span h1 {
  font-family: var(--headingfont-4);
}

/* 
================================================================================================================================
Show Head
================================================================================================================================
*/
.show-head {
  padding: 30px 0;
  background-color: var(--grey-200);
}

.show-head .grid {
  grid-template-columns: 1fr 1fr;
}

.show-head .img {
  padding: 30px 0;
}

.show-head h1 {
  font-family: var(--headingfont-2);
}

/* 
================================================================================================================================
Integrate
================================================================================================================================
*/
.integrate .grid {
  grid-template-columns: repeat(2, 1fr);
}

.integrate .img {
  width: 550px;
  height: 100%;
}

.integrate h1 {
  text-align: left;
}

/* 
================================================================================================================================
Demo
================================================================================================================================
*/
.demo .bg {
  background-color: var(--low-100);
  border-radius: 10px;
  padding: 40px;
  padding-top: 1.5rem;
}

.demo .grid {
  grid-template-columns: 3fr 4fr;
}

.demo h1,
.demo h2 {
  font-family: var(--headingfont-5);
}

.demo i {
  color: var(--primary-500);
}

.demo .img {
  height: 400px;
  border-radius: 10px;
}

.plain {
  background-image: url("../images/code9.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 5px;
  padding: 40px auto;
  height: 500px;
}

/* 
================================================================================================================================
Live-Cards
================================================================================================================================
*/
.live-cards .grid {
  grid-template-columns: 3fr 4fr;
}

.live-cards .img {
  height: 100%;
}

.live-cards h1 {
  font-weight: 500;
  font-family: var(--headingfont-1);
}

/* 
================================================================================================================================
Stats
================================================================================================================================
*/
.stats {
  padding-bottom: var(--font-size-6);
  background-color: var(--grey-300);
}

.stats h1 {
  font-family: var(--font-size-10);
  color: var(--secondary-900);
}

.stats p {
  color: var(--dark-color);
}

/* 
================================================================================================================================
Info
================================================================================================================================
*/
.info {
  background-color: var(--grey-200);
}

.info .grid {
  grid-template-columns: repeat(2, 1fr);
}

.info h1 {
  font-family: var(--headingfont-5);
  /* font-weight: var(--font-weight-2); */
}

.img {
  padding: 2rem 0;
  height: 350px;
}

/* 
================================================================================================================================
Research
================================================================================================================================
*/
.research {
  background-color: var(--grey-100);
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.research h1 {
  font-family: var(--headingfont-2);
}

/* 
================================================================================================================================
Languages
================================================================================================================================
*/
.languages .bg-2 {
  background-color: var(--grey-300);
  border-radius: 5px;
  margin-top: 1rem;
  padding: 3rem 3rem;
}

.languages .bg-2 .top {
  margin-bottom: 2rem;
}

.lang-img {
  background-image: url("../images/code15.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 5px;
  height: 500px;
  width: 90vw;
  margin: 0 auto;
}

.languages .grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.icon {
  border-radius: 5px;
  background-color: var(--grey-500);
  box-shadow: var(--shadow-2);
  display: flex;
  gap: 30px;
  align-items: center;
  width: 250px;
  transition: var(--transition-4);
}

.icon:hover {
  transform: var(--transform-13);
}

.icon i {
  color: var(--primary-400);
}

/* 
================================================================================================================================
Footer
================================================================================================================================
*/
.footer {
  padding-bottom: 2rem;
  padding-top: 3rem;
  height: 650px;
  background-color: var(--grey-400);
  color: var(--dark-color);
  font-family: var(--bodyfont-1);
}

.footer a {
  color: var(--dark-color);
}

.footer a {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.footer .flex {
  justify-content: space-between;
  align-items: flex-start;
}

.footer .social a {
  transition: var(--transition-4);
  color: var(--dark-color);
}

.footer .social a:hover {
  transform: var(--transform-11);
  color: var(--grey-800);
}

.footer h3,
.footer h1 {
  font-family: var(--headingfont-5);
}

.copyright {
  margin-top: 5rem;
}

.about p {
  max-width: 300px;
  font-family: var(--bodyfont-1);
}

/* 
================================================================================================================================
Media queries and reponsiveness
================================================================================================================================
*/
@media (max-width: 1110px) {
  .footer {
    height: 1000px;
  }
}

@media (max-width: 1105px) {
  .navbar-respond {
    display: inherit;
    height: 100px;
  }

  .navbar {
    display: none;
  }

  .showcase {
    height: 400px;
  }

  .footer {
    height: 1000px;
  }
}

@media (max-width: 1100px) {
  .respond img {
    width: 400px;
    height: 100%;
  }

  .integrate .img {
    width: 550px;
    height: 100%;
  }
}

@media (max-width: 950px) {
  .grid,
  .show-head .grid,
  .demo .grid,
  .info .grid,
  .integrate .grid,
  .live-cards .grid,
  .respond .grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .respond .img,
  .integrate .img,
  .info .img,
  .show-head .img,
  .live-cards .img {
    margin: 0 auto;
    display: grid;
    justify-self: center;
    width: 300px;
  }

  .integrate .img {
    width: 450px;
  }

  .live-cards .img {
    width: 550px;
  }

  .info .img,
  .show-head .img {
    width: 500px;
  }

  .languages .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .footer {
    height: 1100px;
  }
}

@media (max-width: 725px) {
  .showcase {
    height: 300px;
  }
}

@media (max-width: 655px) {
  .languages .icon {
    display: block;
    width: 150px;
  }
}

@media (max-width: 620px) {
  .footer {
    height: 1400px;
  }
}

@media (max-width: 565px) {
  .demo .form {
    width: 400px;
  }

  .showcase {
    height: 250px;
  }

  .integrate .img {
    width: 400px;
  }

  .live-cards .img {
    width: 500px;
  }

  .footer {
    height: 1500px;
  }
}

@media (max-width: 580px) {
  .show-head .img {
    width: 450px;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 530px) {
  .show-head .img {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .navbar-flex.flex {
    flex-direction: column;
  }

  .navbar-respond {
    height: 170px;
  }

  .dashes {
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .showcase {
    height: 200px;
  }

  .show-head .img {
    display: grid;
    justify-self: center;
    width: 350px;
  }
}

@media (max-width: 400px) {
  .showcase {
    height: 150px;
  }
}

@media (max-width: 435px) {
  .show-head .img {
    display: grid;
    justify-self: center;
    width: 300px;
  }
}
