/* Navbar */
.navbar {
  background-color: var(--light-color);
}

.navbar h1 {
  font-family: var(--headingfont-2);
  position: relative;
  bottom: 3px;
}

.navbar ul {
  display: flex;
}

.navbar ul a {
  color: var(--dark-color);
  padding: 10px;
}

.navbar nav a:hover {
  border-bottom: 2px solid var(--grey-400);
}

.navbar .btn:hover {
  background-color: var(--primary-500);
  color: var(--light-color);
}

.navbar .border-left {
  border-left: 2px solid var(--grey-400);
}

.navbar .flex {
  justify-self: flex-start;
  height: 100px;
}

.navbar .flex-2 {
  justify-content: space-between;
}

/* Showcase */
.showcase {
  background-image: url("../images/code16.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 5px;
  margin: 40px auto;
  width: 80vw;
  height: 500px;
}

.showcase h2 {
  text-indent: -9999999999px;
}

/* Analytic */
.analytic {
  margin: 5rem 0;
}

.analytic h2 {
  margin: 10px 0;
  font-family: var(--headingfont-6);
}

.analytic p {
  width: 400px;
  margin: 0 auto;
}

.analytic i {
  padding: 40px;
  border-radius: 50%;
  color: var(--light-color);
  background-color: var(--primary-600);
}

.analytic .grid {
  grid-template-columns: repeat(3, 1fr);
  justify-self: space-between;
  flex-wrap: wrap;
}

/* Span */
.span {
  background-color: var(--grey-300);
  margin-top: 3rem auto;
}

.span h1 {
  font-family: var(--headingfont-4);
}

/* show-head */
.show-head {
  background-color: var(--grey-200);
}

.show-head .grid {
  grid-template-columns: 3fr 4fr;
}

.show-head .img {
  padding: 30px 0;
  height: 350px;
}

.show-head h1 {
  font-family: var(--headingfont-2);
}

/* respond */
.respond {
  background-color: var(--grey-400);
}

.respond h1 {
  font-family: var(--headingfont-4);
  font-size: var(--font-size-10);
}

/* Demo */
.demo .bg {
  background-color: var(--low-100);
  border-radius: 10px;
  padding: 40px;
  padding-top: 1.5rem;
}

.demo h1,
.demo h2 {
  font-family: var(--headingfont-5);
}

.plain {
  background-image: url("../images/code9.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 5px;
  padding: 40px auto;
  height: 500px;
}

/* stats */
.stats {
  padding-bottom: var(--font-size-6);
  background-color: var(--grey-300);
}

.stats h1 {
  font-family: var(--font-size-10);
  color: var(--secondary-900);
}

.stats p {
  color: var(--dark-color);
}

/* Info */
.info {
  background-color: var(--grey-200);
}

.info h1 {
  font-family: var(--headingfont-5);
  /* font-weight: var(--font-weight-2); */
}

.img {
  padding: 2rem 0;
  height: 350px;
}

/* research */
.research {
  background-color: var(--grey-100);
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.research h1 {
  font-family: var(--headingfont-2);
}

/* Languages */
.languages .bg-2 {
  background-color: var(--grey-300);
  border-radius: 5px;
  margin-top: 1rem;
  padding: 3rem 3rem;
}

.languages .bg-2 .top {
  margin-bottom: 2rem;
}

.lang-img {
  background-image: url("../images/code15.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 5px;
  height: 500px;
  width: 90vw;
  margin: 0 auto;
}

.languages .grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.languages .lang .grid {
  align-items: center;
}

.icon {
  border-radius: 5px;
  background-color: var(--grey-500);
  box-shadow: var(--shadow-2);
  display: flex;
  gap: 30px;
  align-items: center;
  width: 250px;
  transition: var(--transition-4);
}

.icon:hover {
  transform: var(--transform-13);
}

.icon i {
  color: var(--primary-400);
}

/* Footer */
.footer {
  padding-bottom: 2rem;
  padding-top: 3rem;
  height: 650px;
  background-color: var(--grey-400);
  color: var(--dark-color);
  font-family: var(--bodyfont-1);
}

.footer a {
  color: var(--dark-color);
}

.footer a {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.footer .flex {
  justify-content: space-between;
  align-items: flex-start;
}

.footer .social a {
  transition: var(--transition-4);
  color: var(--dark-color);
}

.footer .social a:hover {
  transform: var(--transform-11);
  color: var(--grey-800);
}

.footer h3,
.footer h1 {
  font-family: var(--headingfont-5);
}

.copyright {
  margin-top: 5rem;
}

.about p {
  max-width: 300px;
  font-family: var(--bodyfont-1);
}
